articles/
output/
SRILM/
models/
data/
predictions/
monolingual-word-aligner/
LEXenstein-2.1/
kenlm/
ghpaetzold-MorphAdornerToolkit-44bb87d/
.idea/
.ipynb_checkpoints/
stanford-parser-full-2015-12-09/
backup/Version_before_BSRI.zip
*.pyc
src/.idea/*
SimplePPDB/*
ppdb-2.0-tldr
stanford-postagger/
src/nn/voc*
src/nn/log.txt
src/nn/dat_small.txt
src/nn/README
src/lexenstein/
OED.txt
Simple_OED.txt
src/nn/cbow*
