stanford-parser-full-2015-12-09/
*.pyc
datasets/kriz/*
googleNGrams/*/*
newsela/articles/*
newsela/alignments/*/*
stanford-postagger/*
text_databases/KW_mult_files/*
text_databases/KW_two_files/*
text_databases/NewsCrawl/*
text_databases/UMBC_webbase/*
text_databases/Subtlex/*
text_databases/SubIMDB/*
text_databases/stanford-corenlp-full-2018-02-27/*
text_databases/Kauchak*
word2vecmodels/*
.idea/
*.DS_STORE
ghpaetzold-MorphAdornerToolkit-44bb87d/*